@page "/"
@using STUDY.Blazor.FifaWorldCup.Shared.Models
@inject HttpClient Http

@foreach (var m in matches)
{
    <p>@m.Team1, @m.Team2</p>
}

@code {
    protected List<Match> matches = new();

    protected override async Task OnInitializedAsync()
    {
        await FetchAll();
    }

    protected async Task FetchAll()
    {
        try
        {
            matches = await Http.GetFromJsonAsync<List<Match>>("api/Matches");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }

    }
}